<h1>Up Index</h1>

<h2>Engine helpers</h2>
<p>kingsman.up_path: <%= kingsman.up_path %></p>
<p>up_path: <%= up_path %></p>
<p>kingsman.root_path: <%= kingsman.root_path %></p>

<h2>Main app helpers</h2>
<p>main_app.home_path: <%= main_app.home_path %></p>
<p>home_path: <%= home_path %></p>
<p>root_path: <%= root_path %></p>
